@page "/"
@inject IJSRuntime JsRuntime
@inject BlazorProva1.Service.IService Service

<a href="/add">Criar Novo</a>

<table class='table'>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descricao</th>
            <th>Preço</th>
            <th>Foto</th>
            <th>DataCadastro</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var produto in produtos)
        {
            <tr>
                <td>@produto.Id</td>
                <td>@produto.Nome</td>
                <td>@produto.Descricao</td>
                <td>@produto.Preco</td>
                <td>@produto.Foto</td>
                <td>@produto.DataCadastro</td>
                <td> |
                    <a href='#' @onclick="async () => await DeleteCustomer(produtos.id)">Deletar</a>
                </td>
            </tr>

        }
    </tbody>
</table>

@code {
    List<Produto> produtos;

    async Task DeleteCustomer(Guid id)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Tem certeza que deseja deletar?");
        if (confirmed is false)
            return;
        var ProdutoRemover = produtos.FirstOrDefault(c => c.Id.Equals(id));
        produtos.Remove(ProdutoRemover);
        await Service.saveProdutos(produtos);
    }

    protected override async Task OnInitializedAsync()
    {
        produtos = await Service.GetProdutos();
    }
}